@(productss :  products)

<!doctype html>
<html lang="en">
    <head>
            <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <title>Panuwat.com</title>
    </head>
    <body>
        @main()

    <div class="row" >
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="alert alert-success">
<table class="table-view" align="center" border="1">
    <tr>
        <th width="140"> ชนิตข้อมูล </th><th width=" 150 "> ข้อมูลที่เพิ่ม </th>
    </tr>
    <tr>
        <td> รหัสสินค้า </td><td>  @productss.getP_id </td>
    </tr>
    <tr>
        <td> ชื่อสินค้า </td><td>  @productss.getP_name </td>
    </tr>
    <tr>
        <td> แบน </td><td>  @productss.getP_brand </td>
    </tr>
    <tr>
        <td> ราคาสินค้า </td><td>  @productss.getPrice </td>
    </tr>
    <tr>
        <td> จำนวน </td><td>  @productss.getCount </td>
    </tr>
</table>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>



        






        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </body>
</html>