
@(cpu : products,cpu2 : products,cpu3 : products,cpu4 : products,cpu5: products,cpu6 : products)
<div class="content">

    <div class="row">
            <!-- ------------------------1---------------------- -->
        <div class=" col-md-4 ">
                <!-- box -->
            <div class="card" >
                <div class="card-body">
                    <img src="/assets/images/i7.jpg "  width="200 px " align="center">
                    <br>
                    <h class="card-title alert alert-info "> @cpu.getP_name </h>
                    <h6 class="card-subtitle mb-2 text-muted"> - </h6>
                    <p class="card-text">ยี่ห้อ : @cpu.getP_brand .  ราคา : @cpu.getPrice <br>  จำนวน : @cpu.getCount รหัสสินค้า : @cpu.getP_id </p>
                    <a href="#" class="card-link">สังซื้อ</a>

                </div>
            </div>
                <!-- box -->
        </div>
            <!-- ------------------------ End  1---------------------- -->
            <!-- ------------------------ 2 ---------------------- -->
        <div class=" col-md-4 ">
                <!-- box -->
            <div class="card" >
                <div class="card-body">
                    <img src="/assets/images/i3.jpg "  width="200 px " align="center">
                    <br>
                    <h class="card-title alert alert-info "> @cpu2.getP_name </h>
                    <h6 class="card-subtitle mb-2 text-muted"> - </h6>
                    <p class="card-text">ยี่ห้อ : @cpu2.getP_brand .  ราคา : @cpu2.getPrice <br>  จำนวน : @cpu2.getCount รหัสสินค้า : @cpu2.getP_id </p>
                    <a href="#" class="card-link">สังซื้อ</a>

                </div>
            </div>
                <!-- box -->
        </div>
            <!-- ------------------------ End 2 ---------------------- -->
            <!-- ------------------------ 3 ---------------------- -->
        <div class=" col-md-4 ">
                <!-- box -->
            <div class="card" >
                <div class="card-body">
                    <img src="/assets/images/i5.jpg "  width="200 px " align="center">
                    <br>
                    <h class="card-title alert alert-info "> @cpu3.getP_name </h>
                    <h6 class="card-subtitle mb-2 text-muted"> - </h6>
                    <p class="card-text">ยี่ห้อ : @cpu3.getP_brand .  ราคา : @cpu3.getPrice <br>  จำนวน : @cpu3.getCount รหัสสินค้า : @cpu3.getP_id </p>
                    <a href="#" class="card-link">สังซื้อ</a>

                </div>
            </div>
                <!-- box -->
        </div>
            <!-- ------------------------ End 3 ---------------------- -->


    </div>
    <br>
    <div class="row">
            <!-- ------------------------4 ---------------------- -->
        <div class=" col-md-4 ">
                <!-- box -->
            <div class="card" >
                <div class="card-body">
                    <img src="/assets/images/i55.jpg "  width="200 px " align="center">
                    <br>
                    <h class="card-title alert alert-info "> @cpu4.getP_name </h>
                    <h6 class="card-subtitle mb-2 text-muted"> - </h6>
                    <p class="card-text">ยี่ห้อ : @cpu4.getP_brand .  ราคา : @cpu4.getPrice <br>  จำนวน : @cpu4.getCount รหัสสินค้า : @cpu4.getP_id </p>
                    <a href="#" class="card-link">สังซื้อ</a>

                </div>
            </div>
                <!-- box -->
        </div>
            <!-- ------------------------ End  4---------------------- -->
            <!-- ------------------------ 5 ---------------------- -->
        <div class=" col-md-4 ">
                <!-- box -->
            <div class="card" >
                <div class="card-body">
                    <img src="/assets/images/pt.jpg "  width="200 px " align="center">
                    <br>
                    <h class="card-title alert alert-info "> @cpu5.getP_name </h>
                    <h6 class="card-subtitle mb-2 text-muted"> - </h6>
                    <p class="card-text">ยี่ห้อ : @cpu5.getP_brand   ราคา : @cpu5.getPrice <br>  จำนวน : @cpu5.getCount รหัสสินค้า : @cpu5.getP_id </p>
                    <a href="#" class="card-link">สังซื้อ</a>

                </div>
            </div>
                <!-- box -->
        </div>
            <!-- ------------------------ End 5 ---------------------- -->
            <!-- ------------------------ 6 ---------------------- -->
        <div class=" col-md-4 ">
                <!-- box -->
            <div class="card" >
                <div class="card-body">
                    <img src="/assets/images/i77.jpg "  width="200 px " align="center">
                    <br>
                    <h class="card-title alert alert-info "> @cpu6.getP_name </h>
                    <h6 class="card-subtitle mb-2 text-muted"> - </h6>
                    <p class="card-text">ยี่ห้อ : @cpu6.getP_brand .  ราคา : @cpu6.getPrice <br>  จำนวน : @cpu6.getCount รหัสสินค้า : @cpu6.getP_id </p>
                    <a href="#" class="card-link">สังซื้อ</a>

                </div>
            </div>
                <!-- box -->
        </div>
            <!-- ------------------------ End 6 ---------------------- -->


    </div>

</div>
